data
**/config/
**/*/*/
.vscode
*.cache
.editorconfig
.env
**/.env
**/log/
**/logs/
*secret*
kahnvert
evidencedb
pgsrip
plantsdb
vobsub2srt
phpmyadmin*.config.php
package*.json
gulpfile.js
hwaccel.transcoding.yml
telegraf.conf
mediamtx.yml
wait-for-it.sh
diun.yml
.trunk
*/eslint.config.js
*/.prettierrc.yaml
*/jsconfig.json


